@font-face {
    font-family: fonA;
    src: url(Exo-Medium.ttf);
}

@font-face {
    font-family: fonB;
    src: url(Exo-Bold.ttf);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #445569;
}

::-webkit-scrollbar-thumb {
    background-color: #6b7a8c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7a8b9e;
}

body {
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root .carbonad,
:root #carbonads-container,
:root #content>#right>.dose>.dosesingle,
:root #content>#center>.dose>.dosesingle {
    display: none !important;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin: 14px 28px;
    position: fixed;
    left: 40px;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 4px 0;
}

.atas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background: #212A34;
}

.home {
    position: fixed;
    top: 5px;
    left: 5px;
    display: -webkit-inline-box;
    width: 45px;
    height: 45px;
}

.home img {
    width: 100%;
    height: 100%;
}

.home img:hover {
    opacity: 0.5;
}

.kananatas {
    position: fixed;
    display: -webkit-inline-box;
    top: 0px;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 11px 15px;
    background: #212a34;
    text-align: center;
}

.kananatas li {
    background: #49B293;
    padding: 7px 15px;
    cursor: pointer;
}

.kananatas li:hover {
    background: #319275;
}

.kananatas a {
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-family: fonB;
}

.logo {
    position: fixed;
    top: 4px;
    left: 110px;
}

.logo a {
    display: block;
}

.logo img {
    width: 155px;
    height: 43px;
}

.logo img:hover {
    opacity: 0.5;
}

#search-box {
    position: absolute;
    top: 8px;
    left: 290px;
    width: 380px;
}

#search-form {
    height: 40px;
    border-bottom: 2px solid #49b293;
    background-color: #fff;
    overflow: hidden;
}

#search-form:hover {
    border-bottom: 2px solid #c73333;
}

#search-text {
    font-family: fonA;
    font-size: 18px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}

#search-box input[type="text"] {
    width: 90%;
    height: 100%;
    padding: 0px 15px;
    color: #333;
    outline: none;
}

#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 80px;
    font-family: fonB;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #c73333;
    cursor: pointer;
}

#search-button:hover {
    background: #9c2222;
}

.menu_kiri_bg {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.menu_kiri {
    z-index: 1;
    position: fixed;
    top: 55px;
    left: -100%;
    width: 300px;
    bottom: 0;
    background: #212A34;
    overflow: auto;
}

.menu_kiri h1 {
    font-family: fonB;
    font-size: 18px;
    color: #FFF;
    background: #49B293;
    text-align: center;
    margin: 0;
    padding: 10px 6px;
    position: fixed;
    width: 287px;
}

.menu_kiri ul {
    padding: 0;
}

.menu_kiri li {
    font-family: fonA;
    font-size: 18px;
    color: #FFF;
    display: block;
    border-bottom: 2px solid #49B293;
    list-style: none;
    cursor: pointer;
}

.menu_kiri li a {
    display: block;
    padding: 15px;
    color: #FFF;
    text-decoration: none;
}

.accordion {
    margin: 40px 0;
}

.submenu {
    display: none;
}

.submenu li {
    padding: 0;
    margin-bottom: 2px;
}

.submenu a {
    display: block;
    padding: 15px;
    border-left: 20px solid #49b293;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}

.tengah {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    background: #ECECEC;
    text-align: center;
    overflow: auto;
}

.tengah ul {
    list-style: none;
    padding: 0;
    margin: auto;
}

.tengah li {
    display: inline-block;
    margin: 5px;
    width: 290px;
    height: 225px;
    background: #ffffff;
}

.tengah li:hover {
    -webkit-box-shadow: 0px 0px 0px 3px rgb(73, 178, 147);
    -moz-box-shadow: 0px 0px 0px 3px rgb(73, 178, 147);
    box-shadow: 0px 0px 0px 3px rgb(73, 178, 147);
}

.tengah li a {
    text-decoration: none;
    display: block;
}

.tengah p {
    margin: 0px;
    padding: 5px;
    font-size: 16px;
    font-family: fonB;
    color: #363e4a;
    width: 280px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.marg {
    list-style: none;
    height: fit-content;
}

.gbr img {
    width: 290px;
    height: 157px;
}

.besar {
    font-family: fonA;
    font-size: 14px;
    color: #ffffff;
    background: #d23737;
    padding: 2px 11px;
    border-radius: 0 14px 14px 0;
    display: table;
    position: absolute;
    margin-top: -150px;
}

.tentang_klik {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.tentang {
    display: none;
    position: fixed;
    top: 16%;
    left: 18%;
    right: 18%;
    bottom: 16%;
    background: #FFF;
}

.tentang h1 {
    margin: 0;
    padding: 1%;
    text-align: center;
    background: #212A34;
}

.tentang h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 1%;
    text-align: center;
    background: #49B293;
}

.tentang img {
    width: 20%;
    height: auto;
}

.tentang .isi {
    position: absolute;
    top: 13%;
    left: 1%;
    right: 1%;
    bottom: 11%;
    overflow: auto;
    padding: 0 1%;
    font-family: fonA;
    font-size: 2vmin;
    color: #000;
}

.bawah {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    background: #212a34;
}

.kopy {
    text-align: center;
    font-family: fonA;
    font-size: 16px;
    color: #FFF;
    margin: 3px 0px;
}

.del {
    background: #d23737;
    color: #FFFFFF;
    font-family: fonB;
    font-size: 20px;
    margin: -110px 0px;
    padding: 10px 20px;
    position: absolute;
    width: 250px;
}

.del:hover {
    background: #a52323;
}

.edit {
    background: #49B293;
    color: #FFFFFF;
    font-family: fonB;
    font-size: 20px;
    margin: -110px 0px;
    padding: 10px 20px;
    position: absolute;
    width: 250px;
}

.edit:hover {
    background: #319275;
}

@media screen and (orientation: portrait) {
     ::-webkit-scrollbar {
        width: 25px;
    }
    .atas {
        height: 225px;
    }
    .home {
        left: 15px;
        width: 110px;
        height: 110px;
    }
    .kananatas {
        padding: 28px 25px;
    }
    .kananatas a {
        font-size: 31px;
    }
    .container {
        top: 7px;
        left: 115px;
        margin: 21px 28px;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 55px;
        height: 7px;
        margin: 9px 0;
    }
    .change .bar1 {
        margin: 12px 0px;
        width: 40px;
    }
    .change .bar3 {
        margin: -12px 0px;
        width: 40px;
    }
    .logo {
        position: fixed;
        top: 15px;
        left: 235px;
    }
    .logo img {
        width: 260px;
        height: 70px;
    }
    #search-box {
        top: 115px;
        left: 15%;
        width: 70%;
        height: 90px;
    }
    #search-form {
        height: 100%;
    }
    #search-text {
        font-size: 40px;
    }
    #search-button {
        height: 100%;
        width: 155px;
        font-size: 37px;
    }
    .menu_kiri {
        top: 115px;
        width: 70%;
    }
    .menu_kiri h1 {
        font-size: 42px;
        padding: 25px 0px;
        width: 70%;
    }
    .accordion {
        margin: 105px 0;
    }
    .menu_kiri li {
        font-size: 42px;
    }
    .menu_kiri li a {
        padding: 30px;
    }
    .submenu a {
        padding: 35px;
        border-left: 50px solid #49b293;
    }
    .tengah {
        top: 225px;
        bottom: 60px;
    }
    .tengah li {
        margin: 11px 5px;
        width: 440px;
        height: 360px;
    }
    .gbr img {
        width: 440px;
        height: 250px;
    }
    .tengah p {
        font-size: 32px;
        width: 430px;
        height: 85px;
    }
    .besar {
        margin-top: -240px;
        font-size: 27px;
    }
    .bawah {
        height: 60px;
    }
    .kopy {
        font-size: 27px;
        margin: 10px 0px;
    }
    .del,
    .edit {
        font-size: 30px;
        margin: -170px 0px;
        padding: 10px 20px;
        width: 400px;
    }
}